/* Main */
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Amatic+SC:400,700);

body {
	margin-top: 100px;
	text-align: center;
}

.wrapper {
	display: inline-block;
	padding: 50px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
}

h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 3em;
	color: #FFCC5C;

}
/*Quotes*/

.quotes {
	font-family: 'Amatic SC', cursive;
	font-size: 2.5em;
	color: #96CEB4;
	text-shadow: -5px 5px 10px

}

.quote-wrap {
	max-width: 500px;
	margin: 0 auto;
}

.button {
	margin-top: 50px;
	
	padding: 1em;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	border-radius: 10%;
	background-color: #FF6F69;
	border: none;
	font-family: Helvetica, serif;
	color: #fff;
	

}

.button:hover {
	background-color: #FF4A41;
}

.button:focus {
	outline:0;
}
